<div class="fwoar-nav">
  <a class="brand" href="{{ path('homepage') }}">git.fiddlerwoaroof.com</a>
  <ul class="unstyled">
    <li><a href="//elangley.org">Homepage</a></li>
    <li><a href="http://gitlist.org/">About</a></li>
    <li><a href="{{ path('homepage') }}refresh">Refresh</a></li>
  </ul>
</div>
